
<!------------------------------------------------------------------------------------------------------------->

    <div class="page-wrapper">
      <div class="main-content">
          <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="overview-wrap">
                              <h2 class="title-1">banner Details</h2>
                              <button class="au-btn au-btn-icon au-btn--blue"></button>
                              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                                ADD BANNER
                           </button>
                          </div>
                      </div>
                  </div>
                <!-------error-->
              
                <!-------error-->
                  <!-- <div class="row m-t-25"> -->
                    <div class="row" >
                      <div class="col-lg-12 m-t-25">
                          <div class="table-responsive table--no-card m-b-40">
                              <table class="table table-borderless table-striped table-earning"  id="productsTable">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Number </th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Option</th>
                                    <th scope="col">image</th>
                                    <th scope="col">option</th>
                                   
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <% for(let i=0;i< banners.length;i++){%>
                                        <tr>
                                          <th scope="row"><%=i+1%></th>
                                          <td><%=banners[i].bannerText%></td>
                                          <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#banner<%=banners[i]._id%>">EDIT</a></td>
                                          <td>
                                            <% if(banners[i].ischoose){%>
                                            <a href="/admin/unlistbanner/<%=banners[i]._id%>" class="btn btn-danger">unList</a>
                                            <% }else{%>
                                              <a href="/admin/unlistbanner/<%=banners[i]._id%>" class="btn btn-success">List</a>
                                              <%}%>
                                          </td>
                                          <td>
                                            <img src="<%=banners[i].banners[0]%>" style="height: 60px;width: 120px;">
                                            <img src="<%=banners[i].banners[1]%>" style="height: 60px;width: 120px;">
                                          </td>
                                          <td><button class="btn btn-danger"data-toggle="modal" data-target="#modalConfirmDelete<%=banners[i]._id%>">DELETE</button></td>
                                          
                                        </tr>
                                        <%}%>
                                       
                                  
                                </tbody>
                              </table>
                          </div>
                      </div>
                
    
            </div>
        </div>
      </div>  
    </div>
<!-------------------------------------------------------->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Banner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/admin/banner" style="margin-top: 2em;" method="post" id="validate" enctype="multipart/form-data">
              <div class="form-group">
                  <input type="text"  id="bannerText" class="form-control" name="bannerText" placeholder="banner description" value="" onkeyup="validatebanner()" >
                  <span id="name-error" class="validation-label" style="color: red;"></span>
              </div>
              <div class="form-group">
                  <label for="image" class="form-label">Image</label>
                  <input type="file"  id="" class="form-control" name="image"  value=""  multiple required/>
              </div>
              <div class="form-group">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" onclick="return validateForm()">Submit</button>
                  <span id="submit-error" class="validation-label" style="color: red;"></span>
                </div>
          </form>      

      </div>
    </div>
 
  </div>
</div>
<!---------end---modal-->
<!-------------------------------------------------------->
    <!-- Modal -->
    <% for(let i=0;i< banners.length;i++){%>
    <div class="modal fade" id="banner<%=banners[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLongTitle"><b>Edit Banner</b>  </h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form action="/admin/edit-banner/<%=banners[i]._id%>" method="post" enctype="multipart/form-data">
              <!-- Name input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="bannertext"><b>Banner Text</b></label>
                <input type="text" id="bannertext" class="form-control  form-control-lg" name="bannerText" value="<%=banners[i].bannerText%>" style="color: black;" required/>
                
              </div>
                  <div style="display: inline-block;">
                    <img src="<%=banners[i].banners[0]%>" alt="" width="150">
                    <img src="<%=banners[i].banners[1]%>" alt="" width="150">
                  </div>
          
              
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form7Example2"><b>Banner Images</b></label>
                <input type="file" class="form-control-file" id="" name="image" style="color: black;" multiple required>
              </div>

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Save</button>

            </form>
               
            
          </div>
          <!-- <div class="modal-footer">
            
          </div> -->
        </div>
      </div>
    </div>
    <%}%>
    <!------------------------------>

    <!---------DELETEMODAL-->
   <!-- Button trigger modal-->

<!--Modal: modalConfirmDelete-->
<% for(let i=0;i< banners.length;i++){%>
<div class="modal fade" id="modalConfirmDelete<%=banners[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a href="/admin/detetebanner/<%=banners[i]._id%>" class="btn  btn-outline-danger">Yes</a>
        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<%}%>
<!--Modal: modalConfirmDelete-->
    <!---------DELETEMODAL-->

    <script>

      $(function () {
        $('#productsTable').DataTable();
      });
      </script>



      <script>
       let nameError = document.getElementById('name-error');
       let submitError = document.getElementById('submit-error');






      function validatebanner(){                                 
      let name = document.getElementById('bannerText').value.trim()
      if(name.length == 0){
      nameError.style.display='flex';
      nameError.innerHTML = 'enter your banner text';
      setTimeout(()=>{
      nameError.style.display='none';
      },3000);
      return false;
      }
      nameError.innerHTML = '';
      return true;
      }
      
      
      
      function validateForm(){
      if(! validatebanner()){
      submitError.style.display='flex';
      submitError.style.justifyContent='center';
      submitError.innerHTML = 'Please fix all errors to submit';
      setTimeout(()=>{
      submitError.style.display='none';
      },3000);
      return false;
      }
      }
      
            </script>