    
<div id="preloder">
    <div class="loader"></div>
</div>
<!......................................!>
<!- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="/wishlist"><span class="icon_heart_alt"></span>
            <div class="tip">2</div>
        </a></li>
        <li><a href="/cart"><span class="icon_bag_alt"></span>
            <div class="tip">2</div>
        </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="/login">Login</a>
        <a href="/signup">Register</a>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header" style="position: sticky; top: 0; z-index: 100;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/"><b><span style="font-size:xx-large;">SHOE</span><span style=" color: black; font-size: xx-large;">ZONE</span></b></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="<%=locals.homeclass%>"><a href="/">Home</a></li>
                        <li class="<%=locals.shopeclass%>"><a href="/shopepage">Shop</a></li>
                        <!-- <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./product-details.html">Product Details</a></li>
                                <li><a href="./shop-cart.html">Shop Cart</a></li>
                                <li><a href="./checkout.html">Checkout</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li> -->
                        <li class="<%=locals.orderclass%>"><a href="/orders">Orders</a></li>
                      
                        <li class="<%=locals.accountclass%>">
                            <%if (locals.userName){%>
                                <a href="#">account</a>
                                <ul class="dropdown">
                                    <li><a href="/profile"><%=userName%></a></li> 
                                    <li><a href="/Rewards">Rewards</a></li> 
                                    <li><a href="/wallet">My wallet</a></li> 
                                    <li><a href="/logout">logout</a></li>  
                                </ul>
                            <%}else{%>
                                <a href="#">account</a>
                            <ul class="dropdown">
                                <li><a>person</a></li> 
                                <li><a href="/login">login</a></li>  
                            </ul>
                           <% }%>
                           
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li><a href="/wishlist"><span class="icon_heart_alt"></span>
                            <!-- <div class="tip">2</div> -->
                        </a></li>
                        <li><a href="/cart"><span class="icon_bag_alt"></span>
                            <%if (locals.cartcount){%>
                            <div class="tip"><%=cartcount%></div>
                            <%}else{%>
                                <div class="tip">0</div>
                                <% }%>
                        </a></li>
                    </ul>
                    <!----dropdown------->
                    <!-- <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                            account
                   
                       
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/login">login</a>
                      </div> -->

                <!------dropdown end-->
                    
                </div>
                
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>

    <!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <div class="search-model-form">
            <input type="text" id="search-input" name="search" placeholder="Search here.....">
            <button   id="submit" class="btn btn-dark" >search</button>
        </div>
    </div>
</div>
<!-- Search End -->
</header>
<!-- Header Section End -->

<script>
  document.getElementById("submit").addEventListener("click",function(){
        var searchvalue=document.getElementById("search-input").value
        location.assign(`/shopepage?search=${searchvalue}`)
    })
</script>

  

