 <!-- Breadcrumb Begin -->
 <div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/cart"><i class="fa fa-shopping-cart"></i>cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><a data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-dark" style="color: white;">Add Address</a></h6>
            </div>
        </div>
        <!------->
        <!-- <div class="col-lg-6"> -->
            <div class="discount__content">
                <h6>Discount codes</h6>
                <form action="">
                    <input type="text" name="coupencode" id="coupencode"  class="coupencode" placeholder="Enter your coupon code">
                    <button type="button" id="copenbtn"  class="site-btn btn-dark">Apply</button>
                </form>
            </div>
        <!-- </div> -->
        <!------->
        <!-- <form action="#" class="checkout__form"> -->
            <div class="row">
                <div class="col-lg-6">
                    <!-- <h5>Your Address</h5> -->
                    <div class="row">
                        <!------address-->
                        <table class="table mt-3">
                            <thead>
                              <tr>
                                <th scope="col">Select</th>
                                <th scope="col" style="text-align: center;">Select  Shipping Address</th>
                              </tr>
                            </thead>
                            <tbody>
                            <%for(var j = 0;j< user.length;j++){%>
                                <tr>
                                  <th scope="row"><input type="radio"name="address" style="width: 20px;height: 20px; accent-color: black; cursor: pointer;" value="<%=user[j].address._id%>" class="address"></th>
                                  <td><span><b> Name :  </b> <%= user[j].address.firstName%> <%= user[j].address.lastName%>,</span><br>
                                  <span><b> Address :  </b> <%= user[j].address.address %>,<%= user[j].address.city%>,<%= user[j].address.district%>,<%= user[j].address. pincode%>(po),</span><br>
                                  <span><b> Phone :  </b> <%= user[j].address.phone%></span>

                                  </td>
                                 
                                </tr>
    
                           <% }%>
                              
                            </tbody>
                          </table>
                        <!------endaddress-->
                        <div class="col-lg-12">
                           
                        </div>
                       
                        <div class="col-lg-6">
                            <div class="checkout__form__checkbox">
                            </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout__order">
                            <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <!--------------------------->
                                <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">index</th>
                                        <th scope="col">product</th>
                                        <th scope="col">price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < cartproductdetails.length; i++) { %>
                                      <tr>
                                        <th scope="row" class="productId" data-productid="<%=cartproductdetails[i]. productdetails._id%>"><%=i+1%></th>
                                        <td><%=cartproductdetails[i]. productdetails.productname%></td>
                                        <td><%=cartproductdetails[i]. productdetails.price%></td>
                                        <td class="quantity" data-quantity="<%=cartproductdetails[i]. products.quantity%>"><%=cartproductdetails[i]. products.quantity%></td>
                                        <td><%=cartproductdetails[i].subTotal%></td>
                                      </tr>
                                      <% } %>
                                    </tbody>
                                </table>
                                <!--------------------->
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <!-- <li>Subtotal <span>$ 750.0</span></li> -->
                                    <li>Total Amount:<span id="grand total"><%=totalprice%></span></li>
                                    <li>offer Price:<span id="offer">₹00,000.00</span></li>
                                    <li>Grand Total:<span id="total"><%=totalprice%></span></li>
                                </ul>
                            </div>
                            <div class="checkout__order__widget">
                                <label for="check-payment">
                                    Cash on delivery
                                    <input type="radio" id="check-payment" class="payment" value="COD"  name="g" >
                                    <span class="checkmark"></span>
                                </label>
                                <label for="wallet">
                                    Wallet
                                    <input type="radio" id="wallet" class="payment" value="wallet"  name="g" >
                                    <span class="checkmark"></span>
                                </label>
                                <label for="paypal" >
                                    razorpay
                                    <input type="radio" id="paypal" class="payment" value="online"  name="g" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn" id="placeorder">Place oder</button>
                        </div>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </section>
    <!-- Checkout Section End -->
    <!-- <div class="discount__content">
        <h6>Discount codes</h6>
        <form action="">
            <input type="text" name="coupencode" id="coupencode"  class="coupencode" placeholder="Enter your coupon code">
            <button type="button" id="copenbtn"  class="site-btn btn-dark">Apply</button>
        </form>
    </div> -->
    <!-- Instagram Begin -->
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        cilisis.</p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!----modal-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"><span >Address</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form  action="/add-Address" method="post" id="formValidate">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="first Name">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="last Name">Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="last name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" name="address" placeholder="address">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">District</label>
                            <select id="" class="form-control" name="district" required>
                              <option value="">...........................select district..........................</option>
                                    <option >Calicut</option>
                                    <option >Malappuaram</option>
                                    <option >Palakkad</option>
                                    <option >Thrissur</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputZip">City</label>
                          <input type="text" class="form-control" name="city">
                        </div>
                      </div>
    
    
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="forPincode">pincode</label>
                        <input type="text" class="form-control" name="pincode">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="phone">phone</label>
                        <input type="text" class="form-control" name="phone" minlength="10" maxlength="10">
                      </div>
                    </div>
    
                     <div style="margin-left: 75%;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>

    <!----end-modal-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script>

    document.getElementById("placeorder").addEventListener("click",function(event){
        event.preventDefault()
        console.log("hello");
        placeorder()
    })

    placeorder=async()=>{
        let coupencode=document.getElementById("coupencode").value
        let offer=document.getElementById("offer").innerText
        let total=document.getElementById("total").innerText
        if(products && addressid && paymentMethod&& total){
        var res= await axios({
            method:"post",
            url:"/place-order",
            data:{products,addressid,paymentMethod,total,coupencode,offer}
        })
        
    }else{
        alert("full fill all")
    }

        //-------------------------------------------
       if(res.data.status==="success"){
            location.assign("/success")
       }else if(res.data.status=="out-of-stock"){
        Toastify({
                     text:`${res.data.product}not available only${res.data.quantity}available`,
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "center", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                        background: "red",
                     },
                 }).showToast()
       }else if(res.data.status=="failed"){
          //---------------------
          Toastify({
                     text: "check your wallet",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "center", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                        background: "red",
                     },
                 }).showToast()
       
       }else{
        razorpayment(res.data.onlineresult,coupencode)
       }

    }




    

    let addressid
    //user id -----------------
    let addressId=document.querySelectorAll(".address")
    addressId.forEach(function(address){
         address.addEventListener('click',function(){
            addressid=this.value
            console.log("addressid"+addressid);
         })
    })
 //-----------------------------------

 //-----product id--------------------
    let productid=[]
    let quantity=[]
    document.querySelectorAll(".productId").forEach(function(product){
        productid.push(product.dataset.productid)
    })
     document.querySelectorAll(".quantity").forEach(function(qnt){
        quantity.push(qnt.dataset.quantity)
    })
   //------convert product and quantity in array object---------

     let products=[]

    for(let i=0;i<productid.length;i++){
        product={productid:productid[i],quantity:quantity[i]}
        products.push(product)
    }
    console.log(products);
    //--------------------payment cod or online-------------------------------
    let paymentMethod
        document.querySelectorAll('.payment').forEach(function(payment){
          payment.addEventListener('click',function(){
          // console.log(this.value);
          paymentMethod=this.value
          console.log("pppppppppp");
          console.log(paymentMethod);
        })
        })
//------------total amount--------------------

//  let total=document.querySelector("#total").innerText
//  total=total.replace(/,/g,"")
//  total=total.replace('₹','')
//  total = parseInt(total)
function razorpayment(order,coupencode){
    console.log("jjjjjjjjjjjjjjjjjjj");
    console.log(order);
    var options = {
    "key": "rzp_test_xZWjPEoMfU01As", // Enter the Key ID generated from the Dashboard
    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "SHOE ZONE", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id":order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "handler":function(res){
            verifypayment(res,order,coupencode)
    },
    "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
    }

   
    const verifypayment=async(payment,order,coupencode)=>{
       try{
       let res= await axios({
            url:"/verify-payment",
            method:"post",
            data:{payment,order,coupencode}
        })
          if(res.status){
            location.assign("/success")
          }else{
            alert("payment failed")
          }
       }catch(err){
        console.log(err);
       }
    }


        
</script>


<script>

const applyCoupon = async (coupencode) => {
    try{
        const res= await axios({
            method:"post",
            url:"/apply_coupen",
            data:{coupencode}
        })
        console.log(res.data.status);
        const discount=res.data.percentage
        console.log(discount);
        if(res.data.status=="success"){
          //---------------------
          Toastify({
                     text: "Copen Is Applyed",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "right", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                     },
                 }).showToast()
          //---------------------

            isclicked=true
        let value=document.getElementById("total").innerText
        console.log("pppppppppppppppppppppppppppppppppp");
        value= value.replace(/,/g,"")
        value= value.replace('₹','')
        value=parseInt(value)
       let offeramount=value*(discount/100)
       console.log(value);
       console.log(offeramount);
       console.log("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh");
       const total=value-offeramount
       console.log(total);
       document.getElementById("total").innerText=total.toLocaleString('en-IN',{style:'currency',currency:'INR'})
       document.getElementById("offer").innerText=offeramount.toLocaleString('en-IN',{style:'currency',currency:'INR'})

        }else if(res.data.status=="Nocoupen"){
            // location.assign('/login')
            Toastify({
                     text: "INVALID COUPEN",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "right", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "red",
                     },
                 }).showToast()
        }else if(res.data.status=="Expired"){
            Toastify({
                     text: "your coupen Expired !",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "right", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "red",
                     },
                 }).showToast()
        }else if(res.data.status=="already used"){
            Toastify({
                     text: "already used !",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "right", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "red",
                     },
                 }).showToast()
        }

    }catch(err){
        console.log(err);
    }
}


var isclicked=false
let coupenId=document.getElementById("copenbtn").addEventListener("click",function () {
    const coupencode=document.getElementById("coupencode").value
      console.log(coupencode);
      if(!isclicked){
      applyCoupon(coupencode)
      }

      })
    

</script>


<script type="text/javascript" src="/javascripts/addprofile.js"></script>
<style>
    label.error {
          color: rgb(210, 67, 67);
          font-size: 12px;
        }
  </style>