 <!-- Breadcrumb Begin -->
 <div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>CATEGORIES</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <% for(let i =0;i< categories.length;i++){ %>
                                <div class="card">
                                    <div class="card-heading active">
                                        <a href="/categoryProducts?categoryId=<%=categories[i]._id%>" ><%= categories[i].categoryname %></a>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <!----------------------->
                        <!----------------------->
                    </div>
                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Shop by price</h4>
                        </div>
                        <div class="filter-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                            data-min="50" data-max="9999"></div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <p>Price:</p>
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                        <a id="filter" style="cursor: pointer;">Filter</a>
                    </div>
                    <div class="sidebar__sizes">
                        <div class="section-title">
                            <h4>BRANDS</h4>
                        </div>
                        <!------------------>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <% for(let i =0;i< brands.length;i++){ %>
                                <div class="card">
                                    <div class="card-heading active">
                                        <a href="/brandproduct?brandId=<%=brands[i]._id%>" ><%= brands[i].brandname %></a>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                        <!-------------------->
                    </div>
                    <!-- <div class="sidebar__color">
                        <div class="section-title">
                            <h4>Shop by size</h4>
                        </div>
                        <div class="size__list color__list">
                            <label for="black">
                                Blacks
                                <input type="checkbox" id="black">
                                <span class="checkmark"></span>
                            </label>
                            <label for="whites">
                                Whites
                                <input type="checkbox" id="whites">
                                <span class="checkmark"></span>
                            </label>
                            <label for="reds">
                                Reds
                                <input type="checkbox" id="reds">
                                <span class="checkmark"></span>
                            </label>
                            <label for="greys">
                                Greys
                                <input type="checkbox" id="greys">
                                <span class="checkmark"></span>
                            </label>
                            <label for="blues">
                                Blues
                                <input type="checkbox" id="blues">
                                <span class="checkmark"></span>
                            </label>
                            <label for="beige">
                                Beige Tones
                                <input type="checkbox" id="beige">
                                <span class="checkmark"></span>
                            </label>
                            <label for="greens">
                                Greens
                                <input type="checkbox" id="greens">
                                <span class="checkmark"></span>
                            </label>
                            <label for="yellows">
                                Yellows
                                <input type="checkbox" id="yellows">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <% for(var i=0; i < products.length; i++) { %>
                        <% if(products[i].quantity < 1) {%>
                            <div class="col-lg-4 col-md-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="<%= products[i]. imagesurl[0]%>">
                                        <div class="label stockout stockblue">Out Of Stock</div>
                                        <ul class="product__hover">
                                            <li><a href="<%= products[i]. imagesurl[0]%>" class="image-popup"><span class="arrow_expand"></span></a></li>
                                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <a href="#"><i class="fa fa-search-plus"></i></a>
                                        <h6><a href="#"><%= products[i].productname%></a></h6>
                                        <div class="product__price"><%= products[i].price%></div>
                                    </div>
                                </div>
                            </div>

                       <%}else{%>

                     
                    <div class="col-lg-4 col-md-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%= products[i]. imagesurl[0]%>">
                                <!-- <div class="label new">New</div> -->
                                <ul class="product__hover">
                                    <li><a href="<%= products[i]. imagesurl[0]%>" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a ><span id="wishlisticon" class="btn icon_heart_alt addtowishlist" data-productid="<%= products[i]._id%>"></span></a></li>
                                    <!-- <li><a data-productid="<%= products[i]._id%>"><span class="icon_bag_alt addTocart"></span></a></li>  -->
                                    <li><a ><span class=" btn icon_bag_alt addTocart" data-productid="<%= products[i]._id%>"></span></a></li> 
                                </ul>
                                
                            </div>
                            <div class="product__item__text">
                                <a href="/productdetails/<%= products[i]._id%>"><i class="fa fa-search-plus"></i></a>
                                <h6><a href="#"><%= products[i].productname%></a></h6>
                                <div class="product__price"><%= products[i].price%></div>
                                <!-- <div class="product__price"><%= products[i].description%></div> -->
                                <!-- <h6 class="cart__price" id="prostock" style="display: none;" ><%=products[i].quantity%></h6> -->
                            </div>
                        </div>
                    </div>
                     <%}%>

                    <% } %>
                   <!------------last content-->
                    <div class="col-lg-12 text-center">
                        <div class="pagination__option">
                            <!--totalpage,currentpage-->
                                <!-- <a href=""><i class="fa fa-angle-left"></i></a>

                                    <a href="" class="">1</a>
                              
                                    
                                    <a href=""><i class="fa fa-angle-right"></i></a> -->
                                    <!-- totalpage,currentpage -->
                                    <!-------------------------------->
                                    <%if(currentpage > 1){%>
                                        <a  href="?page=<%=currentpage-1%>">   
                                            <i class="fa fa-angle-left"></i> 
                                         </a>
    
                                  <%}%>
    
                              
                                    <%for(var i = 1;i<=totalpage;i++){%>
                                         <a href="?page=<%=i%>" class="<%=i===currentpage ? 'active' : '' %>"><%=i%></a>
                                    <%}%>
    
                                    <%if(currentpage < totalpage){%>
                                      <a  href="?page=<%=currentpage+1%>">   
                                        <i class="fa fa-angle-right"></i>
                                       </a>
                                   <% }%>
                              <!---------------------------->
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Instagram Begin -->

<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <!-- <a href="./index.html"><img src="img/logo.png" alt=""></a> -->
                        <a href="/"><b><span style="font-size:xx-large;">SHOE</span><span style=" color: black; font-size: xx-large;">ZONE</span></b></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<!-- <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div> -->
<!-- Search End -->

<!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->

<script type="text/javascript">
    document.querySelectorAll('.addTocart').forEach(function(button){
     button.addEventListener('click',function(event){
         event.preventDefault()
         //to prevent default action
        //  let stock=document.getElementById("prostock").innerText
        //  console.log(("kooo"));
        //  console.log(stock);
         addToCart(this.dataset.productid)
 
     })
     const addToCart = async(productId)=>{
         try{
             console.log(productId);
             const res = await axios({
                 method:'get',
                 url:`/addto-cart/${productId}`
             })
             console.log(res);
             if(res.data.status==='success'){
                console.log(res.data.status);
                 Toastify({
                     text: res.data.message,
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "center", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "linear-gradient(to right, #00b09b, #96c93d)",
                     },
                 }).showToast()
                }else if(res.data.status=="failed"){
                    Toastify({
                    text: "there is not enough stock for that",
                    duration: 3000,
                    gravity: "bottom",
                    position: "center",
                    style: {
                    background: "linear-gradient(to right, #fe6d00, #ffb900)",
                    },
                    }).showToast();

                }else{
                 // location.assign('/login')
                 Toastify({
                     text: "login to add cart",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "right", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "linear-gradient(to right, #00b09b, #96c93d)",
                     },
                 }).showToast()
             }
 
         }catch(err){
             console.log(err);
         }
 
     }
    })
    
</script>

<script type="text/javascript"> 
    document.querySelectorAll('.addtowishlist').forEach(function(button){
        button.addEventListener('click',function(event){
         event.preventDefault()
         //to prevent default action
         console.log(this.dataset.productid);
         addtowishlist(this.dataset.productid)
 
     })

     const addtowishlist=async(productId)=>{
        try{
            const res = await axios({
                 method:'get',
                 url:`/addto-wishlist/${productId}` 
             })

             //-----------------
             if(res.data.status==="success"){
                 Toastify({
                     text: res.data.message,
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "center", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "linear-gradient(to right, #00b09b, #96c93d)",
                     },
                 }).showToast()
             }else{
                 // location.assign('/login')
                 Toastify({
                     text: "Removed",
                     duration: 3000,
                     // close: true,
                     gravity: "top", // `top` or `bottom`
                     position: "center", // `left`, `center` or `right`
                     stopOnFocus: true, // Prevents dismissing of toast on hover
                     style: {
                         background: "linear-gradient(to right, #00b09b, #e80707)",
                     },
                 }).showToast()
             }
             //-----------------


        }catch(err){
            console.log(err);
        }
     }
    })
</script>

<script>

    document.getElementById("filter").addEventListener("click", function(event){
        event.preventDefault()
           let  min =document.getElementById("minamount").value
           let max=document.getElementById("maxamount").value

           filteramount(min,max)

        
    })

  const filteramount=async(minamount,maxamount)=>{
  location.assign(`/shopepage?min=${minamount}&max=${maxamount}`)
  
    }
</script>

<style>
    #pagination-container > * {
   display: none;
}
#pagination-container > *:nth-child(-n+10) {
   display: block;
}

</style>



